<div class="row">
  <div class="col-lg-6">
    <a href="#" class="thumbnail">
      <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>
      <%= image_tag("blog_gal.png", alt: "ourWork") %>
    </a>
  </div>
  <div class="col-lg-6">
    <a href="moustiers-sainte-marie.jpg" class="thumbnail">
      <p>Moustiers-Sainte-Marie: Considered as one of the "most beautiful villages of France".</p>
      <%= image_tag("blog_gal.png", alt: "ourWork") %>
    </a>
  </div>
  <div class="clearfix"></div>
  <div class="col-md-6">
    <a href="cinqueterre.jpg" class="thumbnail">
      <p>The Cinque Terre: A rugged portion of coast in the Liguria region of Italy.</p>
      <%= image_tag("blog_gal.png", alt: "ourWork") %>
    </a>
  </div>
</div>