<div class="jumbotron">
 <center> <h1>Easy Breezy</h1></center>
  <div class="row">
    <div class="col-xs-6">
      <%= image_tag("profit.jpg", alt: "logo", class: "img-rounded img-responsive") %>
    </div>
    <div class="col-xs-6">
    <p>
    </p>
    

      <p><font face:"OpenSansBold">  
       Мы компания, которая занимается разработкой Вэб-сайтов и программ на разных языках программирования. Также помогаем студентам в написании дипломных и курсовых работ. Решаем различные задачи по математике (мат. анализ, дифференциальные уравнения, линейная алгебра, тер вер, мат стат).</font></p>
    </div>
  </div>
  <p></p>
  <p> 
Название компании Easy-Breezy вытекает из того, что мы с радостью беремся за работу и с легкостью ее выполняем. Чему соответствует наш девиз - «Решаем сложные задачи просто и быстро!» </p>
<p>Большинство сотрудников компании являются специалистами в области информационных технологий, т.к. закончили Казанский Федеральный Университет по соответствующим направлениям. </p>
<p>Мы молодая, быстроразвивающаяся компания, которая готова взяться за сложные и неординарные задачи. Всегда стремимся предложить оригинальный способ решения. Являемся участниками и победителями различных конкурсов по программированию и написанию приложений. </p>
<p>В будущем планируем углубиться в разработку Android и IOS приложений. Также будем предлагать свои услуги в SEO, SEM и SMM продвижении. </p>
<p>Обращайтесь к нам и вы будете довольный выполненной работой!</p>
  
</div>