<div class="row row-margin-bottom">
  <div class="col-xs-12 col-lg-6 col-md-5 no-padding lib-item" data-category="view">
    <div class="lib-panel asd">
      <div class="row box-shadow">
        <a href="https://mysuperpuperblog.herokuapp.com/">
        <div class="col-xs-12 col-lg-6 col-md-6 img-site">
          <%=  image_tag("blog_gal.png", alt: "ourWork", class: "img-thumbnail lib-img-show") %>
        </div>
        </a>
        <div class="col-xs-12 col-lg-6 col-md-6">
          <div class="lib-row lib-header">
            Example library
            <div class="lib-header-seperator"></div>
          </div>
          <div class="lib-row lib-desc">
            Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-1 col-md-2"></div>
  <div class="col-xs-12 col-lg-6 col-md-5 no-padding lib-item" data-category="ui">
    <div class="lib-panel">
      <div class="row box-shadow">
        <div class="col-xs-12 col-lg-6 col-md-6 img-site">
          <%=  image_tag("blog_gal.png", alt: "ourWork", class: "img-thumbnail lib-img-show") %>
        </div>
        <div class="col-xs-12 col-lg-6 col-md-6">
          <div class="lib-row lib-header">
            Example library
            <div class="lib-header-seperator"></div>
          </div>
          <div class="lib-row lib-desc">
            Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-lg-6 col-md-5 no-padding lib-item" data-category="view">
    <div class="lib-panel">
      <div class="row box-shadow">
        <div class="col-xs-12 col-lg-6 col-md-6 img-site">
          <%=  image_tag("blog_gal.png", alt: "ourWork", class: "img-thumbnail lib-img-show") %>
        </div>
        <div class="col-xs-12 col-lg-6 col-md-6">
          <div class="lib-row lib-header">
            Example library
            <div class="lib-header-seperator"></div>
          </div>
          <div class="lib-row lib-desc">
            Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-xs-12 col-lg-6 col-md-5 no-padding lib-item" data-category="ui">
    <div class="lib-panel">
      <div class="row box-shadow">
        <div class="col-xs-12 col-lg-6 col-md-6 img-site">
          <%=  image_tag("blog_gal.png", alt: "ourWork", class: "img-thumbnail lib-img-show") %>
        </div>
        <div class="col-xs-12 col-lg-6 col-md-6">
          <div class="lib-row lib-header">
            Example library
            <div class="lib-header-seperator"></div>
          </div>
          <div class="lib-row lib-desc">
            Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor
          </div>
        </div>
      </div>
    </div>
  </div>
</div>