
<footer class="footer p-t-1">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <p>© 2016 Easy-Breezy Company </p>
      </div>
      <div class="col-xs-8">
        <ul class="list-unstyled list-inline pull-right">
          <li><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> 89274203049</li>
          <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> alfaalbettasd#fasdf.com</li>
        </ul>
      </div>
    </div>
  </div>
</footer>