<div class="modal-footer">
  <div class="row">
    <div class="col-xs-4">
      <p class="text-muted pull-left">© 2016 Easy-Breezy Company </p>
    </div>
    <div class="col-xs-8">
      <ul class="list-unstyled list-inline pull-right">
        <li><a href="#"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span>89274203049</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>alfaalbettasd#fasdf.com</a></li>
      </ul>
    </div>

  </div>
</div>